<div class='center jumbotron'>
<h1>Willkommen in der Beispiel-App</h1>
<h2>Das ist die willkommensseite für das Ruby on Rails Tutorial</h2>

<%= link_to 'Jetzt anmelden!', signup_path, class: 'btn btn-lg btn-primary' %>

</div>

<%= link_to image_tag('rails.png', alt:'Rails logo'), 'http://rubyonrails.org/' %>
